<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new-chat</title>
</head>
<body>
    <h3>New Chat</h3>
    <form method="post" action="/chats">
        <input placeholder="who are you?" name="from">
        <br>
        <textarea placeholder="enter your msg" name="msg"></textarea>
        <br>
        <input placeholde="to whom" name="to">
        <br>
        <button>Create Chat</button>
    </form>
    
</body>
</html>